<!-- app.component.html -->
<nav class="navbar navbar-expand-lg fixed-top colorTopBar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Flipando a colores" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-3">
          <a class="nav-link" href="#">INICIO</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#promociones">PROMOCIONES</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#servicios">SERVICIOS</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#contacto">CONTACTO</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#faq">PREGUNTAS FRECUENTES</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/productos">PRODUCTOS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="promociones" class="container distanciaEntreSecciones">
  <h2 class="text-center">Promociones</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/remera1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/img1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/img3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div id="servicios" class="container distanciaEntreSecciones">
  <h2 class="text-center">Servicios</h2>
  <p style="font-size: 1.9rem;">Flipando a colores ofrece una variedad de servicios como la venta de remeras, artículos escolares, servicios de impresión de diferentes tipos de papeles, impresión en blanco y negro, sublimados, pines personalizados y servicios de diseño gráfico.</p>
  <div class="row text-center">
    <div class="col-md-4">
      <i class="bi bi-basket" style="font-size: 3rem;"></i>
      <h3>Venta de Remeras</h3>
    </div>
    <div class="col-md-4">
      <i class="bi bi-book" style="font-size: 3rem;"></i>
      <h3>Artículos Escolares</h3>
    </div>
    <div class="col-md-4">
      <i class="bi bi-printer" style="font-size: 3rem;"></i>
      <h3>Impresión</h3>
    </div>
  </div>
</div>

<div id="contacto" class="container distanciaEntreSecciones text-center">
  <h2 class="text-center" style="font-size: 1.9rem;">Contacto</h2>
  <p style="font-size: 1.9rem;"><strong>Dirección:</strong> Amenabar esq. Sarmiento, Rosario</p>
  <p style="font-size: 1.9rem;"><i class="bi bi-telephone" style="font-size: 1.9rem;"></i> <strong>Teléfono:</strong> +54 341 683 6666⁣⁣</p>
  <p style="font-size: 1.9rem;"><i class="bi bi-envelope" style="font-size: 1.9rem;"></i> <strong>Email:</strong> Flipando.rosario&#64;gmail.com</p>
  <p style="font-size: 1.9rem;"><i class="bi bi-instagram" style="font-size: 1.9rem;"></i> <strong>Instagram:</strong> flipandoacolores</p>
  <img src="assets/images/pagos.jpg" alt="Medios de Pago" class="img-fluid mt-3">
</div>

<div id="faq" class="container distanciaEntreSecciones" style="background-color: yellow; margin-top: 3%;">
  <h2 class="text-center">Preguntas Frecuentes</h2>
  <h3>¿Cuáles son los medios de pago aceptados?</h3>
  <p>Aceptamos tarjetas de crédito, débito y transferencias bancarias.</p>
  <h3>¿Qué métodos de pago aceptan?</h3>
  <p>Aceptamos efectivo, tarjetas de crédito y débito, y transferencias bancarias.</p>
  <h3>¿Hacen envíos?</h3>
  <p>Sí, realizamos envíos a domicilio en la ciudad de Rosario y sus alrededores.</p>
  <h3>¿Tienen descuentos para estudiantes?</h3>
  <p>Sí, ofrecemos descuentos especiales para estudiantes y docentes. Consulta en nuestra tienda para más detalles.</p>
  <h3>¿Puedo personalizar productos?</h3>
  <p>¡Por supuesto! Ofrecemos servicios de personalización para varios productos. Consulta con nosotros para más información.</p>
</div>

<a href="https://wa.me/3416836666" target="_blank" class="whatsapp-float">
  <img src="assets/icons/whatsapp-icon.png" alt="WhatsApp" height="60">
</a>
