/* styles.css */
@media (max-width: 767.98px) {
    .navbar-nav {
      text-align: center;
    }
    .carousel-item img {
      height: auto;
    }
    .col-md-4 {
      margin-bottom: 20px;
    }
  }